*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
header{
    text-align: center;
    margin: 47px 130px;
}
body{
    background-color: maroon;
}
.nav{
    list-style: none;
    background-color: gray;
    padding: 0px 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 30px 60px;
    border: 5px solid whitesmoke;
    margin: 70px;
}
.titulo{
    color: white;
    background-color: black;
    font-size: 60pt;
}
.li{
    margin: 15;
    font-size: 25pt;
    font-style: oblique;
}
.flex-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center ;

}
.bloque{
    flex-basis: calc(50% - 10px);

    border: groove;
}
h2{
    color: black;
    font-size: 20pt;

}
h3{
    margin: 50px;
    color: black;
    font-size: 60pt;
}
h4{
    font-size: 35pt;
    text-align: center;
}
section p{
    margin: 20px;
    text-align: justify;
    color: white;
}
.pie{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 10px;
    border: groove 2px grey;
}
.rrss{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.platos-principales{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: justify;
}
.plato-principal-1{
    margin: 25px 25px;
    border: white solid 5px;
    justify-content: center;
    align-content: center;
}
.plato-principal-2{
    margin: 25px 25px;
    border: white solid 5px;
    justify-content: center;
    align-content: center;
}
.postres{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: justify;
}
.postre1{
    margin: 25px 25px;
    border: white solid 5px;
    justify-content: center;
    align-content: center;
}
.postre2{
    margin: 25px 25px;
    border: white solid 5px;
    justify-content: center;
    align-content: center;
}
.img-plato{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
